@model Cart

@{
}

<a asp-controller="Cart"
   asp-action="Index"
   class="navbar-text ml-auto">
    @Model.MoovieTime минут займет просмотр <i class="fas fa-tv"></i>
    (@Model.Count фильмов) 
</a>